GF_INSTALL_PLUGINS=grafana-clock-panel,briangann-gauge-panel,natel-plotly-panel,grafana-simple-json-datasource
GF_SECURITY_ADMIN_PASSWORD=MYPASSWORD
GF_SERVER_ENFORCE_DOMAIN=true
GF_AUTH_DISABLE_LOGIN_FORM=true

GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.gmail.com:587
GF_SMTP_USER=myadrress@gmail.com
GF_SMTP_PASSWORD=mypassword
GF_SMTP_FROM_ADDRESS=myaddress@gmail.com

GF_AUTH_GOOGLE_ENABLED=true
GF_AUTH_GOOGLE_CLIENT_ID=YOUR_GOOGLE_APP_CLIENT_ID
GF_AUTH_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_APP_CLIENT_SECRET
GF_AUTH_GOOGLE_SCOPES=https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email
GF_AUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
GF_AUTH_GOOGLE_TOKEN_URL=https://accounts.google.com/o/oauth2/token
GF_AUTH_GOOGLE_ALLOWED_DOMAINS=mycompany.com mycompany.org